{% extends "layouts.html" %} {% block title %}Dashboard {% endblock %} {% block
content %}
<!--**********************************
            Content body start
        ***********************************-->
<main>
  <header
    class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10"
  >
    <div class="container-xl px-4">
      <div class="page-header-content pt-4">
        <div class="row align-items-center justify-content-between">
          <div class="col-auto mt-4">
            <h1 class="page-header-title">
              <div class="page-header-icon"><i data-feather="layout"></i></div>
              Dashboard
            </h1>
            <!-- <div class="page-header-subtitle">Use this blank page as a starting point for creating new pages inside your project!</div> -->
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- Main page content-->
  <div class="container-xl px-4 mt-n10">
    <div class="card mb-4">
      <div class="card-header">Upload File</div>
      <div class="card-body">
        <div class="mb-3">
          <form
            class="d-flex"
            method="POST"
            enctype="multipart/form-data"
            action="/test"
          >
            <input
              class="form-control form-control-lg me-5"
              id="file"
              type="file"
              name="file"
              accept="image/*"
            />
            <button class="btn btn-primary" id="submit-btn" type="submit">
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="text-center card-title">VGG-19</h5>
            <div style="height: 40vh"></div>
          </div>
          <!-- <img class="card-img-bottom" src="path/to/image" alt="..."> -->
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="text-center card-title">EfficientNet</h5>
            <div style="height: 40vh"></div>
          </div>
          <!-- <img class="card-img-bottom" src="path/to/image" alt="..."> -->
        </div>
      </div>
    </div>
  </div>
</main>

<!--**********************************
            Content body end
        ***********************************-->
{% endblock %}
