<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      property="og:image"
      content="https://boltz.dexignzone.com/xhtml/social-image.png"
    />
    <meta name="format-detection" content="telephone=no" />

    <!-- PAGE TITLE HERE -->
    <title>Alzheimer</title>

    <!-- FAVICONS ICON -->
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png" />

    <link href="/vendor/owl-carousel/owl.carousel.css" rel="stylesheet" />
    <link
      href="/vendor/jquery-nice-select/css/nice-select.css"
      rel="stylesheet"
    />
    <!-- Style css -->
    <link href="/css/style.css" rel="stylesheet" />
  </head>
  <body>
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">
      <!--**********************************
            Nav header start
        ***********************************-->
      <div class="nav-header">
        <a href="index.html" class="brand-logo">
          <svg
            class="logo-abbr"
            width="54"
            height="54"
            viewBox="0 0 54 54"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect
              class="rect-primary-rect"
              width="54"
              height="54"
              rx="27"
              fill="#2258BF"
            />
            <mask maskUnits="userSpaceOnUse" x="0" y="0" width="54" height="54">
              <rect width="54" height="54" rx="27" fill="#2258BF" />
            </mask>
            <g mask="">
              <path
                d="M46.1676 26.5805C46.1217 26.129 45.8612 25.7806 45.4991 25.6835L34.9748 22.8635L42.8655 9.05303C43.0565 8.72265 43.1126 8.31849 43.0178 7.96681C42.9212 7.61451 42.6881 7.35877 42.388 7.27836L31.132 4.26233C30.7287 4.15426 30.2838 4.38142 30.0263 4.82453L14.9917 30.9187C14.8007 31.2491 14.744 31.6556 14.8406 32.0078C14.9329 32.3614 15.1678 32.6176 15.4698 32.6985L21.6719 34.3604L7.46102 59.0235C7.17542 59.5193 7.20173 60.1564 7.52473 60.5342C7.64091 60.6708 7.78346 60.7617 7.93918 60.8034C8.21123 60.8763 8.51961 60.7982 8.77813 60.5688L45.7105 27.791C46.0341 27.5062 46.2127 27.0345 46.1676 26.5805Z"
                fill="#FFC42C"
              />
              <path
                d="M43.3374 21.0401C43.2915 20.5885 43.0311 20.2402 42.669 20.1431L32.1446 17.3231L40.0354 3.51262C40.2264 3.18225 40.2825 2.77808 40.1877 2.42641C40.091 2.07411 39.858 1.81836 39.5579 1.73796L28.3019 -1.27807C27.8986 -1.38614 27.4536 -1.15898 27.1962 -0.715872L12.1615 25.3783C11.9705 25.7087 11.9138 26.1152 12.0105 26.4674C12.1028 26.821 12.3377 27.0772 12.6397 27.1581L18.8418 28.82L4.63088 53.4831C4.34528 53.9789 4.37159 54.616 4.69459 54.9938C4.81077 55.1304 4.95332 55.2213 5.10904 55.263C5.38109 55.3359 5.68947 55.2578 5.94799 55.0284L42.8804 22.2506C43.204 21.9658 43.3826 21.4941 43.3374 21.0401Z"
                fill="white"
              />
            </g>
          </svg>

          <div class="brand-title">Alzheimer</div>
        </a>
        <div class="nav-control">
          <div class="hamburger">
            <span class="line"></span><span class="line"></span
            ><span class="line"></span>
          </div>
        </div>
      </div>
      <!--**********************************
            Nav header end
        ***********************************-->

      <!--**********************************
            Header start
        ***********************************-->
      <div class="header">
        <div class="header-content">
          <nav class="navbar navbar-expand">
            <div class="collapse navbar-collapse justify-content-between">
              <div class="header-left"></div>
            </div>
          </nav>
        </div>
      </div>
      <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

      <!--**********************************
            Sidebar start
        ***********************************-->
      <div class="deznav">
        <div class="deznav-scroll">
          <!-- <div class="dropdown header-profile">
            <a
              class="nav-link"
              href="javascript:void(0);"
              role="button"
              data-bs-toggle="dropdown"
            >
              <img src="images/profile/pic1.jpg" width="20" alt="" />
              <div class="header-info">
                <span class="font-w400 mb-0">Hello,<b>Zakiyah </b></span>
                <small class="text-end font-w400">Zakiyah@mail.com</small>
              </div>
            </a>
          </div> -->
          <ul class="metismenu" id="menu">
            <li>
              <a class="ai-icon" href="/" aria-expanded="false">
                <i class="flaticon-025-dashboard"></i>
                <span class="nav-text">Dashboard</span>
              </a>
            </li>
            <li>
              <a class="ai-icon" href="/info" aria-expanded="false">
                <i class="flaticon-050-info"></i>
                <span class="nav-text">Information</span>
              </a>
            </li>
          </ul>
          <div class="copyright">
            <p>
              <strong>Alzheimer Classification</strong> © 2024 All Rights
              Reserved
            </p>
          </div>
        </div>
      </div>
      <!--**********************************
            Sidebar end
        ***********************************-->
      {% block content %} {% endblock %}

      <div class="footer">
        <div class="copyright">
          <p>Copyright © Developed by <a href="#"></a> 2024</p>
        </div>
      </div>
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="vendor/global/global.min.js"></script>
    <script src="vendor/chart.js/Chart.bundle.min.js"></script>
    <script src="vendor/jquery-nice-select/js/jquery.nice-select.min.js"></script>

    <!-- Apex Chart -->
    <script src="vendor/apexchart/apexchart.js"></script>
    <script src="vendor/owl-carousel/owl.carousel.js"></script>

    <!-- Dashboard 1 -->
    <script src="js/dashboard/dashboard-1.js"></script>

    <script src="js/custom.min.js"></script>
    <script src="js/deznav-init.js"></script>
  </body>
</html>
